{% extends 'padre.html' %}
    
{% load static %}

{% block codigoDinamico %}

<form style="margin-left: 350px; margin-top: 150px;" action="" method="get">

    <input style=" border: none;" type="text"  id="nombre">

    <input type="submit" value="Buscar">

</form>

{% if destino %}

    <ul  style="margin-left: 350px; margin-top: 10px;">
    {% for destino in destinos %}
        <li>Destino {{destinos.nombre_pais}}</li>
    {% endfor %}
    </ul>

{% else %}
    <p  style="margin-left: 350px; margin-top: 10px; font-weight: bolder; color: black;">No hay datos</p>
{% endif %}

{% endblock %}