{% extends 'padre.html' %}
    
{% load static %}



{% block codigoDinamico %}
 


{% for destino in destinos %}
  
    <link rel="stylesheet" href="{% static 'css/posteos.css' %}">
<div id="container">	
	
	<div class="product-details">
		
		<h1>{{destino.nombre}}</h1>
		
		
		<h3 class="information">{{destino.descripcion}}</h3>
		
		
		
		
		
<div class="control">
	
	 <span class="price"><button><a href="{% url 'Eliminar' destino_nombre=destino.nombre %}">Eliminar</a></button></span>
  

</div>
<div>
	<p>{{destino.continente}}</p>
</div>

</div>

<div class="product-image">
	
	<img src="{{destinos.imagenes.url}}" alt="">
	

<div class="info">
	<h2> Cantidad población:</h2>
	<p>{{destino.poblacion}}</p>
    <h2>Paisaje:</h2>
    <p>{{destino.paisaje}}</p>
</div>
</div>

</div>

  
{% endfor %}

{% endblock %}